<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Cocktails</span>
</nav>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-3 mt-3">
        <div class="card shadow-sm mb-5 bg-white rounded">
          <img class="card-img-top" src="https://cdn.liquor.com/wp-content/uploads/2018/10/19111600/drunk-uncle-720x720-recipe.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <% cocktail.ingredients.each do |ingredient| %>
                <%= ingredient.name %>
                <br>
              <% end %>
            </h6>
          </div>
        </div>
      </div>
    <% end %>
   </div>
   <div class="card mt-4 justify-content-center">
    <div class="card-header">
      New cocktail
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <%= simple_form_for [@cocktail] do |f| %>
      <p class="card-text">
        <%= f.input :name %>
      </p>
      <%= f.submit "Create cocktail", class: "btn btn-primary"%>
      <% end %>
    </div>
</div>
</div>





