<nav class="navbar navbar-dark bg-dark mb-3">
  <span class="navbar-brand mb-0 h1"><%= @cocktail.name %></span>
</nav>


<div class="container">
  <div class="d-flex justify-content-center mb-2">
  <%= cl_image_tag @cocktail.photo.key, height: 300, crop: :fill %>
  </div>
  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <p class="card-title"> Ingredient: <%= dose.ingredient.name %></p>
            <p class="card-text">Quantity: <%= dose.description %></p>
            <button type="button" class="btn btn-light">
                <%= link_to "Delete", dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
            </button>

            <!-- <p class="card-text"><%= dose.description %></p> -->

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <h5>Add a new ingredient and description</h5>
  <%= simple_form_for ([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.button :submit, "Add", class: "btn btn-dark" %>
  <% end %>

</div>



<!-- <button type="button" class="btn btn-light">
  <%= link_to "Add an ingredient and description", new_cocktail_dose_path(@cocktail) %>
</button>
 -->

<br>
<br>

<button type="button" class="btn btn-light">
  <%= link_to "Back to homepage", root_path %>
</button>

